*{
    margin: ;
    padding: 0;
    box-sizing: border-box;
}


head{ align-items: flex-end;


}

body{
    height: 100vh;
    background-image: url("https://images4.alphacoders.com/129/thumb-1920-129366.jpg");
    background-size: 105%; 
    padding: 32px;
}

.menu{
    display: flex;
    gap: 32px;
}

.menu a{
    text-decoration: none;
}
.logo
{
    display: unset;
    align-items: flex-start;
}

.logo__icon{
    width: 500px;
}

.logo__text{
    font-size: 10px;
    font-weight: 100;
}

.title{
    position:relative;
    grid-column: 1/-1;
    place-self: center;
}

.info__title{
    color:purple;
    font-size:60px;
    height: 50px;
}
.info__text{
    display: flex;
    font-size: 32px;
    color:black;
}
.info__text p {
    width: 800px;
    background-color: #fff5;
    padding: 16px;
}
footer{ 
   font-weight: bolder;
}
